{% load static %}
{% include 'header.html' %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% bootstrap_form_errors form %}
<div class="wall-warp">
<section class="h-full gradient-form md:h-screen flex justify-center">
    <div class="container py-12 px-6 h-full">
        <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
            <div class="xl:w-10/12">
                <div class="block bg-white shadow-lg rounded-lg">
                    <div class="lg:flex lg:flex-wrap g-0">
                        <div class="lg:w-6/12 px-4 md:px-0">
                            <div class="md:p-12 md:mx-6">
                                <div class="text-center">

                                     <h4 class=" text-3xl font-semibold mt-1 mb-12 pb-1">网络舆情分析系统</h4>
                                </div>
                                <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
                                    <div class="form-row mb-4">
                                        {{ form.username.errors }}
                                        学号
                                        {% render_field form.username class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %}



                                    </div>
                                    <div class="form-row mb-4">
                                        {{ form.password.errors }}
                                        密码
                                        <input type="hidden" name="next" value="{{ next }}">
                                        {% render_field form.password class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" %}
                                    </div>
                                    <div class="flex justify-between items-center mb-6">
                                        <div class="form-group form-check">
                                            <input type="checkbox"
                                                class="form-check-input   h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-red-600 checked:border-red-600  transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                                                id="check" checked />
                                            <label class="form-check-label inline-block text-gray-800"
                                                for="check">记住密码</label>

                                        </div>
                                        <div class="form-group form-check">
                                            <a href="{% url 'account_reset_password' %}" class=" hover:text-red-700 ">忘记密码?</a>
                                        </div>
                                    </div>
                                    <div class="text-center pt-1 mb-12 pb-1">
                                        <button
                                            class="inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full mb-3"
                                            type="submit" data-mdb-ripple="true" data-mdb-ripple-color="light" style="
                        background: linear-gradient(
                          to right,
                          #ee7724,
                          #d8363a,
                          #dd3675,
                          #b44593
                        );
                      ">
                                            登录
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="lg:w-6/12  lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none text-white" style="
                background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);position:relative
              ">
                            <div class=" px-4 py-6 md:p-12 md:mx-6 flex  justify-center flex-column" >
                                <img class="mx-auto w-48" src="https://s2.loli.net/2023/06/19/IXVDJlujFgfBL3N.png"
                                alt="logo" />
                                <p class="text-3xl font-semibold mb-6 flex  justify-center align-bewteen">学习贯彻二十大，思想引领向未来</p>
                            </div>
                            <span class="text-sm" style="position:absolute;left:48px;bottom:118px;">
                                提示：密码默认为身份证后八位
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {% include 'footer.html' %}
    </div>
</section>

</div>
<style>
    .wall-warp{
        {#绝对定位#}
        position:absolute;
        width:100%;
    }
</style>
<script src="{% static "three.min.js" %}" type="text/javascript"></script>
<script src="{% static "wallbgcanvas.js" %}" type="text/javascript"></script>
