{% load bootstrap4 %}
{% include 'header.html' %}
<div class="font-sans bg-gray-100">
{% bootstrap_form_errors form %}
    <div class="relative min-h-screen flex flex-col sm:justify-center items-center  ">
        <div class="relative sm:max-w-sm w-full">
            <div class="card bg-blue-400 shadow-lg  w-full h-full rounded-3xl absolute  transform -rotate-6"></div>
            <div class="card bg-green-500 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6"></div>
            <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
                <label for="" class="block mt-4 mb-4 text-sm text-gray-700 text-center font-semibold text-2xl">
                    数学与大数据学院一站式平台
                </label>
                <form method="POST" action="{% url 'account_login' %}" class="mt-10">
                    {% csrf_token %}
                    <div>
                        <label for="id_login" class="m-0">学号:</label>
                        <input type="text" name="login" placeholder="请输入您的学号" autocomplete="username" maxlength="150" required="" id="id_login"
                               class="p-4 block w-full bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0 focus:outline-none focus:border-light-blue-500">
                    </div>

                    <div class="mt-7">
                        <label for="id_password" class="m-0">密码:</label>
                        <input type="password" name="password" placeholder="默认密码为身份证后8位" autocomplete="current-password" required="" id="id_password"
                               class="p-4 block w-full bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0 focus:outline-none focus:border-light-blue-500">
                    </div>

                    <div class="mt-7 flex">
                        <label for="id_remember" class="inline-flex items-center w-full cursor-pointer">
                            <input id="id_remember" type="checkbox"  class="rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" name="remember">
                            <span class="ml-2 text-sm text-gray-600">
                                记住密码
                            </span>
                        </label>

                       <div class="w-full text-right ml-2 text-sm text-gray-600">
                            <label for="id_remember" class="form-check-label">
                                <a class="" href="{% url 'account_reset_password' %}">忘记密码？</a>
                            </label>
                       </div>
                    </div>
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="mt-7">
                        <button type="submit" class="bg-green-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105">
                            登陆
                        </button>
                    </div>

                    <div class="flex mt-9 items-center text-center">
                            {% include 'footer.html' %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>