{% extends 'base_html.html' %}
{% block content %}

<div class="pt-2 pb-10 overflow-hidden overflow-y-auto overflow-x-auto container">
    <div class="align-middle inline-block min-w-full shadow bg-white shadow-dashboard px-8 pt-3 rounded-md">
    <div class="row justify-content-center">
        <h3 class="text-2xl mt-8 mb-8">修改密码</h3>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_oldpassword">当前密码:</label>
                    <input type="password" name="oldpassword" placeholder="请输入当前密码" autocomplete="current-password" required="" id="id_oldpassword" class="form-control">
                </div>
                <div class="form-group">
                    <label for="id_password1">新密码:</label>
                    <input type="password" name="password1" placeholder="新密码" autocomplete="new-password" required="" id="id_password1" class="form-control">
                </div>
                <div class="form-group">
                    <label for="id_password2">新密码（重复）:</label>
                    <input type="password" name="password2" placeholder="新密码（重复）" required="" id="id_password2" class="form-control">
                </div>
                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
{#                        {{ field.label_tag }} {{ field }}#}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            <div class="my-10">
                <button type="submit" name="action" class="btn btn-block" style="background-color: #40739e;color: white">修改密码</button>
{#               <a href="{% url 'account_reset_password' %}">忘记密码？</a>#}
            </div>
            </form>
        </div>
    </div>

    </div>
</div>

{% endblock %}