{% include 'header.html'%}
{% load account %}
<div class="font-sans bg-gray-100">
    <div class="relative min-h-screen flex flex-col sm:justify-center items-center  ">
        <div class="relative sm:max-w-2xl w-full">
            <div class="card bg-red-400 shadow-lg  w-full h-full rounded-3xl absolute  transform -rotate-6"></div>
            <div class="card bg-green-500 shadow-lg  w-full h-full rounded-3xl absolute  transform rotate-6"></div>
            <div class="relative w-full rounded-3xl  px-6 py-4 bg-gray-100 shadow-md">
                <label for="" class="block mt-4 mb-4 text-sm text-gray-700 text-center font-semibold text-2xl">
                    重置密码
                </label>
{#            提示用于已登录 #}
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <div>
                    <p class="text-muted">忘记密码了？请在下面输入你的身份证后8位重置你的账号密码。</p>
                    <p class="text-muted">账号为你的学号，不可修改。</p>
                    <p class="text-muted">如果你在重置密码时遇到问题，请联系我们mathyibanstudio@163.com</p>
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                        {{ form.error }}
                <div class="form-group">
                    <label for="id_username">学号:</label>
                    <input type="text" name="username" maxlength="20" required="" id="id_username"
                    class="p-4 block w-full bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-red-100 focus:bg-red-100 focus:ring-0 focus:outline-none focus:border-light-red-500">

                    <label for="id_identity_card" class="mt-4">身份证后8位:</label>
                    <input type="text" name="identity_card" maxlength="18" required="" id="id_identity_card"
                           class="p-4 block w-full bg-gray-100 h-11 rounded-xl shadow-lg hover:bg-red-100 focus:bg-red-100 focus:ring-0 focus:outline-none focus:border-light-red-500">
                </div>
                <input type="submit" class="mb-10 bg-green-500 w-full py-3 rounded-xl text-white shadow-xl hover:shadow-inner focus:outline-none transition duration-500 ease-in-out  transform hover:-translate-x hover:scale-105"
                       value="重置密码" />
                    {% include 'footer.html' %}
            </form>
                </div>
            </div>
        </div>
    </div>
</div>