{% include 'header.html' %}
{% load static %}
<body style="width: 100%" class="bg-gray-50">
<main class="bg-white dark:bg-gray-800 h-screen overflow-hidden relative relative flex flex-col ">
    <div class="flex items-start justify-between overflow-hidden bg-gray-100">


        <div class="flex flex-col w-full pl-0 md:p-1 md:space-y-4 justify-between h-screen ">
            <header class="w-full shadow-md dark:bg-gray-700 items-center h-16 rounded-2xl z-40 relative" style="background-color: #dd4336">
                <div class="relative z-20 flex flex-col justify-center h-full px-3 mx-auto flex-center">
                    <div class="relative items-center pl-1 flex w-full lg:max-w-68 sm:pr-2 sm:ml-0 justify-center">
                            <nav>
                            <a href="/" target="_self"
                                class="hover:bg-gray-600 rounded-lg inline-block text-sm font-medium text-white px-2 md:mx-8 py-2 leading-none">首页</a>
                            <a  href="{% url 'myaccount:profile_update' %}"
                                class="hover:bg-gray-600 rounded-lg inline-block text-sm font-medium text-white px-2 md:mx-8 py-2 leading-none">更新个人信息</a>
                            <a href="{% url 'account_change_password' %}"
                                class="hover:bg-gray-600 rounded-lg inline-block text-sm font-medium text-white px-2 md:mx-8 py-2 leading-none">修改密码</a>
                            <a href="{% url 'account_logout' %}"
                                class="hover:bg-gray-600 rounded-lg inline-block text-sm font-medium text-white px-2 md:mx-8 py-2 leading-none">注销</a>
                        </nav>
                    </div>
                </div>
            </header>
            <div class="overflow-auto h-screen pb-24 pt-2 pr-2 pl-2 md:pt-0 md:pr-0 md:pl-0 mb-auto ">
                 {% block content %}
                {% endblock %}
            </div>
            <div class="h-10 mb-2 md:mb-0">
                {% include 'footer.html' %}
            </div>
        </div>
    </div>
</main>
</body>